Xft.dpi:       144
Xft.antialias: 1
Xft.autohint:  0
Xft.hinting:   1
Xft.hintstyle: hintfull
Xft.lcdfilter: lcddefault
Xft.rgba:      rgb

rofi.lines:           5
!rofi.width:          100
rofi.padding:         285
rofi.opacity:         80
rofi.bw:              0
rofi.fullscreen:      true
rofi.separator-style: none
rofi.color-enabled:   true

!                   background  border   separator_color
rofi.color-window:  #22221b,    #22221b, #ffffff
!                   background  foreground  background_alt  hightlight_background  highlight_foreground
rofi.color-normal:  #22221b,    #e7e6df,    #22221b,        #929181,               #f4f3ec
rofi.color-urgent:  #22221b,    #a5980d,    #22221b,        #929181,               #a5980d
rofi.color-active:  #22221b,    #5b9d48,    #22221b,        #929181,               #5b9d48

URxvt.font: xft:DejaVuSansMono:size=9

! scrollbar style - rxvt (default), plain (most compact), next,or xterm
URxvt.scrollstyle: plain

!URxvt.scrollBar: false

! Base16 Atelier Estuary

! URxvt*tintColor:                      color
! URxvt*fadeColor:                      color

URxvt*background:                     #22221b
URxvt*foreground:                     #929181
URxvt*cursorColor:                    #929181

! URxvt*colorBD:                        color
! URxvt*colorIT:                        color
! URxvt*colorUL:                        color
! URxvt*colorRV:                        color
! URxvt*underlineColor:                 color
URxvt*scrollColor:                    #929181
! URxvt*troughColor:                    color
URxvt*highlightColor:                 #5f5e4e
URxvt*highlightTextColor:             #878573
! URxvt*cursorColor2:                   color
! URxvt*pointerColor:                   color
! URxvt*pointerColor2:                  color
! URxvt*borderColor:                    color
! URxvt*tab-bg:                         color
! URxvt*tab-fg:                         color
! URxvt*tabbar-bg:                      color
! URxvt*tabbar-fg:                      color

URxvt*color0:                         #22221b
URxvt*color1:                         #ba6236
URxvt*color2:                         #7d9726
URxvt*color3:                         #a5980d
URxvt*color4:                         #36a166
URxvt*color5:                         #5f9182
URxvt*color6:                         #5b9d48
URxvt*color7:                         #929181
URxvt*color8:                         #6c6b5a
URxvt*color9:                         #ba6236
URxvt*color10:                        #7d9726
URxvt*color11:                        #a5980d
URxvt*color12:                        #36a166
URxvt*color13:                        #5f9182
URxvt*color14:                        #5b9d48
URxvt*color15:                        #f4f3ec

! 256 color space
URxvt*color16:                        #ae7313
URxvt*color17:                        #9d6c7c
URxvt*color18:                        #302f27
URxvt*color19:                        #5f5e4e
URxvt*color20:                        #878573
URxvt*color21:                        #e7e6df
